.main_text_of_page{
    display: flex;
    width: 100%;
    margin: 2rem 0;

    h2{
        text-align: center;
        margin: 0 6rem;
    }
}
.main_container_of_page{
    display: flex;
    margin: 2rem;
}
@media (max-width: 767px){
    .main_container_of_page{
        display: flex;
        margin: 0rem;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .main_container_of_page{
        display: flex; 
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
}