<nav>
    <img class="img" src="images/Logo final transp_Mesa de trabajo 1 copia 2.png" alt="Logo" class="Logo">
    <button class="open-menu" (click)="openMenu()"><i class="bi bi-list"></i></button>
    <div class="nav" [class.visible]="menuVisible">
        <button class="clouse-menu" (click)="clouseMenu()"><i class="bi bi-x"></i></button>
        <ul class="nav-list">
            <li><a  [routerLink]="['dashboard/care-guide']">cultivo</a></li>
            <li><a [routerLink]="['dashboard/create']">riego y fertilizantes</a></li>
            <li><a [routerLink]="['dashboard/info']" routerLinkActive="router-link-active" >plaga</a></li>

        </ul>
    </div>
</nav>
