nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0;
    background-color: #e4f1e3;
    flex-direction: column;

}
.Logo{
    /* max-width: 5rem; */
    width: 2rem;
    height: 2rem;
    object-fit: fill;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: center;
    padding: .5rem 0;
    align-items: center;
    background-color: #9ffc7b;
    gap: 3rem;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 2rem;
    
}
.nav-list li a{
    text-decoration: none;
    color: #92692b;
    gap: 3rem;
    transition: color .4 ease;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}
.nav-list li a:hover{
    /* background:#9ffc7b; */
    color: #ececec;
    border-radius: 16px;
}
.open-menu,
.clouse-menu{
    display: none;
}

@media screen and (max-width: 550px) {
    .open-menu,
    .clouse-menu{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    .open-menu{
        color: #1c1c1c;
    }
    .clouse-menu{
        color: #ececec;
    }
    nav{
        display: flex;
        flex-direction: row;
    }
    .nav{
        opacity: 0;
        z-index: 1;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1.5rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        justify-content: start;
        
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
        background-color: #1c1c1c;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a{
        color: #ececec;
    }
}
