<div class="container">
    <form  [formGroup]="newCard" >

        <label for="">image</label>
        <input formControlName="imagen" type="url" placeholder="enter the url">
        <label for="">qualification</label>
        <input formControlName="titulo" placeholder="enter the title">
        <label for="">description</label>
        <input formControlName="description" placeholder="enter the description">
        <label for="">enter care 1</label>
        <input formControlName="cuidado1" placeholder="enter care number 1">
        <label for="">enter care 2</label>
        <input formControlName="cuidado2" placeholder="enter care number 2">
        <label for="">enter care 3</label>
        <input formControlName="cuidado3" placeholder="enter care number 3">
        <label for="">enter care 4</label>
        <input formControlName="cuidado4" placeholder="enter care number 4">
        <label for="">enter care 5</label>
        <input formControlName="cuidado5" placeholder="enter care number 5">
        <label for="">enter care 6</label>
        <input formControlName="cuidado6"  type="text" placeholder="enter care number 6">
        <button>Send</button>
    
    </form>
</div>