<div class="container">
    <div class="title">
        <h2>{{ plague[0].titulo }}</h2>
    </div>
    <div class="image">
        <img [src]="plague[0].image" [alt]="plague[0].titulo">
    </div>
    <div class="container_text">
        <div class="description">
            <p>{{ plague[0].description }}</p>
        </div>
        <div class="location">
            <h3>Ubicación</h3>
            <p>{{ plague[0].ubicacion }}</p>
        </div>
        <div class="location">
            <h3>Clima Donde Se Ubica</h3>
            <p>{{ plague[0].climaDondeSeUbica }}</p>
        </div>
    </div>

    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-icon"><i class="bi bi-clipboard-check"></i></div>
            <div class="timeline-content">
                <h4>Utiliza métodos físicos para controlarlas</h4>
                <p>{{ plague[0].comoContrarrestarConsejo1 }}</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon"><i class="bi bi-flower1"></i></div>
            <div class="timeline-content">
                <h4>Introduce control biológico</h4>
                <p>{{ plague[0].comoContrarrestarConsejo2 }}</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-icon"><i class="bi bi-droplet"></i></div>
            <div class="timeline-content">
                <h4>Aplica tratamientos naturales</h4>
                <p>{{ plague[0].comoContrarrestarConsejo3 }}</p>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button (click)="deleteInfoPlague(plague[0]._id)" class="button button-trash"> 
            <i class="bi bi-trash"></i> 
            basura
        </button> 
        <button (click)="editAllInfoPlague(plague[0]._id)" class="button button-edit"> 
            <i class="bi bi-pencil"></i> 
            editar
        </button>
    </div>
</div>
