.container {
    padding: 0 5rem;

    .title {
        padding: 2rem;

        h2 {
            text-transform: uppercase;
            text-align: center;
        }
    }

    .image {
        img {
            padding-bottom: 2rem;
            border-radius: 16px;
            display: block;
            margin: 0 auto;
            width: 750px;
            height: 450px;
        }
    }

    .container_text {
        padding: 0 14rem;
    }

    .description {
        p {
            padding-bottom: 2rem;
        }
    }

    .location {
        h3 {
            padding-bottom: 1rem;
        }
    }
}

.timeline {
    display: flex;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 2rem;
    z-index: 0;
}

.timeline-item {
    z-index: 0;
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.timeline-icon {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.timeline-content {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: center;
    flex-grow: 1;
}

.timeline-content h4 {
    margin-top: 0;
    text-align: center;
}

@media (max-width: 767px) {
    /* Eliminando el padding en dispositivos pequeños */
    .container_text {
        padding: 0 !important;
    }

    .title {
        padding: 0 !important;
    }

    .description {
        p {
            padding-bottom: 0 !important;
        }
    }

    .image {
        img {
            width: 100% !important; /* Ajusta el tamaño de la imagen al contenedor */
            height: auto !important; /* Mantiene las proporciones de la imagen */
            padding-bottom: 2rem;
            border-radius: 16px;
            display: block;
            margin: 0 auto;
        }
    }

    .timeline {
        display: flex;
        flex-direction: column;
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 1rem !important; 

        button{
            text-transform: capitalize;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Eliminando el padding en dispositivos medianos */
    .container_text {
        padding: 0 !important;
    }

    .title {
        padding: 0 !important;
    }

    .description {
        p {
            padding-bottom: 0 !important;
        }
    }
    .image {
        img {
            width: 100% !important; /* Ajusta el tamaño de la imagen al contenedor */
            height: auto !important; /* Mantiene las proporciones de la imagen */
            padding-bottom: 2rem;
            border-radius: 16px;
            display: block;
            margin: 0 auto;
        }
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 1rem !important;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 4rem;

    button {
        padding: 1rem 4rem;
        border: 1px black solid;
        border-radius: 12px;
        cursor: pointer;
        text-transform: capitalize;
    }

    .button-edit {
        border: 1px blue solid;
        background-color: blue;
        color: white;
        i {
            color: #f4f4f4;
        }
    }

    .button-trash {
        border: 1px red solid;
        background-color: red;
        color: #f4f4f4;
    }

    .button-trash:hover {
        background-color: white;
        transition: background-color 0.5s;
        color: red;
        i {
            color: red;
        }
    }

    .button-edit:hover {
        background-color: white;
        transition: background-color 0.5s;
        color: blue;
        i {
            color: blue;
        }
    }
}

/* Centrar el modal */
.centered-modal .mat-dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Asegúrate de que esté por encima de otros elementos */
}
